.App {
  text-align: center;
}

.Card-Display {
  width: 3em;
  height: 5em;
  line-height: 5em;
  border: solid 1px black;
}

.Card-Value {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.Choice-List {
  display: flex;
}

.PlayCard {
  margin-left: 1em;
  margin-right: 1em;
}

.PlayedCard .Card-Display {
  background-color: gray;
}

.SelectedCard .Card-Display {
  background-color: navy;
  color: white;
}

.Table {
  background-color: forestgreen;
  min-width: 10em;
  max-width: 30em;
  min-height: 7em;
  margin: 1em;
}

.Results {
  margin-top: 2em;
  margin-left: 20em;
}

.Name-Input {
  margin-left: 1em;
  margin-right: 1em;
}

.Show-Reset-Controls {
  margin: 10px;
}

.Version {
  position: absolute;
  bottom: 0;
  left: 0;
  color: blue;
  opacity: 0.7;
}

.Version > p {
  margin: 0;
  padding: 0;
  text-align: right;
}
