.App {
  text-align: center;
}

.Card-Display {
  width: 3em;
  height: 5em;
  line-height: 5em;
  border: solid 1px black;
}

.Card-Value {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
}

.Choice-List {
  display: flex;
}

.PlayCard {
  margin-left: 1em;
  margin-right: 1em;
}

.PlayedCard .Card-Display {
  background-color: gray;
}

.SelectedCard .Card-Display {
  background-color: navy;
  color: white;
}

.Table {
  background-color: forestgreen;
  min-width: 10em;
  max-width: 30em;
  min-height: 7em;
  margin: 1em;
}

.Results {
  margin-top: 2em;
  margin-left: 20em;
}
